* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
}
.window {
  width: 300px;
  margin: 30px auto;
  overflow: hidden;
}
.window .images {
  display: flex;
  align-items: flex-start;
  transition: all 0.5s;
}
.window .images img {
  vertical-align: top;
  width: 300px;
}
span {
  cursor: pointer;
}
.red {
  color: red;
}
